:root {
    --color-isabelline: #f5efed;
    --color-smoky-black: #000000;
    --color-emphasis: #B20D30;
    --color-medium-slate-blue: #6f73d2;
    --bg-darker-colour: #d7d7d7;
}

body {
    color: var(--color-smoky-black);
    background-color: var(--bg-darker-colour);
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.masthead {
    border-bottom: 1px solid var(--color-smoky-black);
}

#main a {
    text-decoration: none;
    color: var(--color-emphasis);
}

#main a:visited {
    color: var(--color-emphasis);
}

.sec_information {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1.4em;
}

.sec_picture {
    align-self: center;
}

.sec_picture img {
    border-radius: 0.6em;
    width: 50rem;
}

.page__footer {
    background-color: var(--color-isabelline);
}

@media (max-width: 800px) {
    .sec_information {
        flex-direction: column;
    }

    .sec_picture img {
        width: 16rem;
        margin-top: 2em;
    }
}
