:root {
    --color-isabelline: #f5efed;
    --color-smoky-black: #0f0a0a;
    --color-coral: #ff7f51;
    --color-medium-slate-blue: #6f73d2;
    --bg-darker-colour: #f7f7f7;
}

body {
    color: var(--color-smoky-black);
    background-color: var(--color-isabelline);
}

#main a {
    text-decoration: none;
    color: var(--color-coral);
}

#main a:visited {
    color: var(--color-coral);
}

.sec_information {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1.4em;
}

.sec_picture {
    align-self: center;
}

.sec_picture img {
    border-radius: 1em;
    width: 50rem;
    filter: saturate(0);
}

.page__footer {
    background-color: var(--color-isabelline);
}

@media (max-width: 800px) {
    .sec_information {
        flex-direction: column;
    }

    .sec_picture img {
        width: 16rem;
        margin-top: 2em;
    }
}
